body {
  background: #fff;
  max-width: 980px;
  margin: 50px auto;
  padding: 20px;
}

#color {
  margin: 40px auto;
  width: 400px;
  display: flex;
}

#color div {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  margin: 20px;
  flex-grow: 1;
}

input[type="button"] {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-family: "Lucida Sans Unicode";
  font-size: 1.3em;
  background: #aab6bd;
  color: #fff;
  display: block;
  margin: auto;
  border: none;
  outline: 0;
}

/*Basic Animation */

@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* The element to apply the animation to */
div {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: red;
  animation-name: example;
  animation-duration: 4s;
}
